TRMAudiostem/Service References/TRMWebServiceJson/TRMWCFWebServiceJson.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="TRMWCFWebServiceJson" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://wcf.totalresolutionmusic.com/TRMWCFWebServiceJson.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://wcf.totalresolutionmusic.com/TRMWCFWebServiceJson.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://wcf.totalresolutionmusic.com/TRMWCFWebServiceJson.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DomainModel.Entities" />
      <xsd:import schemaLocation="http://wcf.totalresolutionmusic.com/TRMWCFWebServiceJson.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System.Web" />
      <xsd:import schemaLocation="http://wcf.totalresolutionmusic.com/TRMWCFWebServiceJson.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/Message" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ITRMWCFWebServiceJson_SaveUserAccount_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveUserAccount" />
  </wsdl:message>
  <wsdl:message name="ITRMWCFWebServiceJson_SaveUserAccount_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveUserAccountResponse" />
  </wsdl:message>
  <wsdl:message name="ITRMWCFWebServiceJson_GetUserAccount_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserAccount" />
  </wsdl:message>
  <wsdl:message name="ITRMWCFWebServiceJson_GetUserAccount_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserAccountResponse" />
  </wsdl:message>
  <wsdl:message name="ITRMWCFWebServiceJson_DeleteAccount_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteAccount" />
  </wsdl:message>
  <wsdl:message name="ITRMWCFWebServiceJson_DeleteAccount_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteAccountResponse" />
  </wsdl:message>
  <wsdl:message name="ITRMWCFWebServiceJson_GetAllArtists_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllArtists" />
  </wsdl:message>
  <wsdl:message name="ITRMWCFWebServiceJson_GetAllArtists_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllArtistsResponse" />
  </wsdl:message>
  <wsdl:message name="ITRMWCFWebServiceJson_SaveArtistAlbum_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveArtistAlbum" />
  </wsdl:message>
  <wsdl:message name="ITRMWCFWebServiceJson_SaveArtistAlbum_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveArtistAlbumResponse" />
  </wsdl:message>
  <wsdl:message name="ITRMWCFWebServiceJson_GetArtistAlbums_InputMessage">
    <wsdl:part name="parameters" element="tns:GetArtistAlbums" />
  </wsdl:message>
  <wsdl:message name="ITRMWCFWebServiceJson_GetArtistAlbums_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetArtistAlbumsResponse" />
  </wsdl:message>
  <wsdl:message name="ITRMWCFWebServiceJson_GetArtistAlbumDetails_InputMessage">
    <wsdl:part name="parameters" element="tns:GetArtistAlbumDetails" />
  </wsdl:message>
  <wsdl:message name="ITRMWCFWebServiceJson_GetArtistAlbumDetails_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetArtistAlbumDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="ITRMWCFWebServiceJson_DeleteArtistAlbum_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteArtistAlbum" />
  </wsdl:message>
  <wsdl:message name="ITRMWCFWebServiceJson_DeleteArtistAlbum_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteArtistAlbumResponse" />
  </wsdl:message>
  <wsdl:message name="ITRMWCFWebServiceJson_UpdateAlbumGenreCollection_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateAlbumGenreCollection" />
  </wsdl:message>
  <wsdl:message name="ITRMWCFWebServiceJson_UpdateAlbumGenreCollection_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateAlbumGenreCollectionResponse" />
  </wsdl:message>
  <wsdl:message name="ITRMWCFWebServiceJson_UploadSong_InputMessage">
    <wsdl:part name="parameters" element="tns:UploadSong" />
  </wsdl:message>
  <wsdl:message name="ITRMWCFWebServiceJson_UploadSong_OutputMessage">
    <wsdl:part name="parameters" element="tns:UploadSongResponse" />
  </wsdl:message>
  <wsdl:message name="ITRMWCFWebServiceJson_DownloadSongOnServer_InputMessage">
    <wsdl:part name="parameters" element="tns:DownloadSongOnServer" />
  </wsdl:message>
  <wsdl:message name="ITRMWCFWebServiceJson_DownloadSongOnServer_OutputMessage">
    <wsdl:part name="parameters" element="tns:DownloadSongOnServerResponse" />
  </wsdl:message>
  <wsdl:message name="ITRMWCFWebServiceJson_DownloadFile_InputMessage">
    <wsdl:part name="parameters" element="tns:DownloadFile" />
  </wsdl:message>
  <wsdl:message name="ITRMWCFWebServiceJson_DownloadFile_OutputMessage">
    <wsdl:part name="parameters" element="tns:DownloadFileResponse" />
  </wsdl:message>
  <wsdl:message name="ITRMWCFWebServiceJson_GetAllSongs_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllSongs" />
  </wsdl:message>
  <wsdl:message name="ITRMWCFWebServiceJson_GetAllSongs_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllSongsResponse" />
  </wsdl:message>
  <wsdl:message name="ITRMWCFWebServiceJson_GetAlbumSongs_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAlbumSongs" />
  </wsdl:message>
  <wsdl:message name="ITRMWCFWebServiceJson_GetAlbumSongs_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAlbumSongsResponse" />
  </wsdl:message>
  <wsdl:message name="ITRMWCFWebServiceJson_GetArtistSongs_InputMessage">
    <wsdl:part name="parameters" element="tns:GetArtistSongs" />
  </wsdl:message>
  <wsdl:message name="ITRMWCFWebServiceJson_GetArtistSongs_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetArtistSongsResponse" />
  </wsdl:message>
  <wsdl:message name="ITRMWCFWebServiceJson_GetArtistSongDetails_InputMessage">
    <wsdl:part name="parameters" element="tns:GetArtistSongDetails" />
  </wsdl:message>
  <wsdl:message name="ITRMWCFWebServiceJson_GetArtistSongDetails_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetArtistSongDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="ITRMWCFWebServiceJson_GetSongMediaAssets_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSongMediaAssets" />
  </wsdl:message>
  <wsdl:message name="ITRMWCFWebServiceJson_GetSongMediaAssets_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSongMediaAssetsResponse" />
  </wsdl:message>
  <wsdl:message name="ITRMWCFWebServiceJson_GetSongMediaAssetsForDownload_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSongMediaAssetsForDownload" />
  </wsdl:message>
  <wsdl:message name="ITRMWCFWebServiceJson_GetSongMediaAssetsForDownload_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSongMediaAssetsForDownloadResponse" />
  </wsdl:message>
  <wsdl:message name="ITRMWCFWebServiceJson_DeleteSong_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteSong" />
  </wsdl:message>
  <wsdl:message name="ITRMWCFWebServiceJson_DeleteSong_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteSongResponse" />
  </wsdl:message>
  <wsdl:message name="ITRMWCFWebServiceJson_DeleteAlbumSong_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteAlbumSong" />
  </wsdl:message>
  <wsdl:message name="ITRMWCFWebServiceJson_DeleteAlbumSong_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteAlbumSongResponse" />
  </wsdl:message>
  <wsdl:message name="ITRMWCFWebServiceJson_GetAllBusinesses_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllBusinesses" />
  </wsdl:message>
  <wsdl:message name="ITRMWCFWebServiceJson_GetAllBusinesses_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllBusinessesResponse" />
  </wsdl:message>
  <wsdl:message name="ITRMWCFWebServiceJson_SavePlaylist_InputMessage">
    <wsdl:part name="parameters" element="tns:SavePlaylist" />
  </wsdl:message>
  <wsdl:message name="ITRMWCFWebServiceJson_SavePlaylist_OutputMessage">
    <wsdl:part name="parameters" element="tns:SavePlaylistResponse" />
  </wsdl:message>
  <wsdl:message name="ITRMWCFWebServiceJson_DeletePlaylist_InputMessage">
    <wsdl:part name="parameters" element="tns:DeletePlaylist" />
  </wsdl:message>
  <wsdl:message name="ITRMWCFWebServiceJson_DeletePlaylist_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeletePlaylistResponse" />
  </wsdl:message>
  <wsdl:message name="ITRMWCFWebServiceJson_DeletePlaylistSong_InputMessage">
    <wsdl:part name="parameters" element="tns:DeletePlaylistSong" />
  </wsdl:message>
  <wsdl:message name="ITRMWCFWebServiceJson_DeletePlaylistSong_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeletePlaylistSongResponse" />
  </wsdl:message>
  <wsdl:message name="ITRMWCFWebServiceJson_GetAllBusinessTypes_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllBusinessTypes" />
  </wsdl:message>
  <wsdl:message name="ITRMWCFWebServiceJson_GetAllBusinessTypes_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllBusinessTypesResponse" />
  </wsdl:message>
  <wsdl:message name="ITRMWCFWebServiceJson_GetAllGenres_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllGenres" />
  </wsdl:message>
  <wsdl:message name="ITRMWCFWebServiceJson_GetAllGenres_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllGenresResponse" />
  </wsdl:message>
  <wsdl:message name="ITRMWCFWebServiceJson_GetGenre_InputMessage">
    <wsdl:part name="parameters" element="tns:GetGenre" />
  </wsdl:message>
  <wsdl:message name="ITRMWCFWebServiceJson_GetGenre_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetGenreResponse" />
  </wsdl:message>
  <wsdl:message name="ITRMWCFWebServiceJson_RegisterAdmin_InputMessage">
    <wsdl:part name="parameters" element="tns:RegisterAdmin" />
  </wsdl:message>
  <wsdl:message name="ITRMWCFWebServiceJson_RegisterAdmin_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegisterAdminResponse" />
  </wsdl:message>
  <wsdl:message name="ITRMWCFWebServiceJson_RegisterArtist_InputMessage">
    <wsdl:part name="parameters" element="tns:RegisterArtist" />
  </wsdl:message>
  <wsdl:message name="ITRMWCFWebServiceJson_RegisterArtist_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegisterArtistResponse" />
  </wsdl:message>
  <wsdl:message name="ITRMWCFWebServiceJson_RegisterBusiness_InputMessage">
    <wsdl:part name="parameters" element="tns:RegisterBusiness" />
  </wsdl:message>
  <wsdl:message name="ITRMWCFWebServiceJson_RegisterBusiness_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegisterBusinessResponse" />
  </wsdl:message>
  <wsdl:message name="ITRMWCFWebServiceJson_RegisterCustomer_InputMessage">
    <wsdl:part name="parameters" element="tns:RegisterCustomer" />
  </wsdl:message>
  <wsdl:message name="ITRMWCFWebServiceJson_RegisterCustomer_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegisterCustomerResponse" />
  </wsdl:message>
  <wsdl:message name="ITRMWCFWebServiceJson_UpdateBusinessUser_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateBusinessUser" />
  </wsdl:message>
  <wsdl:message name="ITRMWCFWebServiceJson_UpdateBusinessUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateBusinessUserResponse" />
  </wsdl:message>
  <wsdl:message name="ITRMWCFWebServiceJson_UpdateArtistGenreCollection_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateArtistGenreCollection" />
  </wsdl:message>
  <wsdl:message name="ITRMWCFWebServiceJson_UpdateArtistGenreCollection_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateArtistGenreCollectionResponse" />
  </wsdl:message>
  <wsdl:message name="ITRMWCFWebServiceJson_GetUserByUserId_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserByUserId" />
  </wsdl:message>
  <wsdl:message name="ITRMWCFWebServiceJson_GetUserByUserId_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserByUserIdResponse" />
  </wsdl:message>
  <wsdl:message name="ITRMWCFWebServiceJson_GetAdmin_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAdmin" />
  </wsdl:message>
  <wsdl:message name="ITRMWCFWebServiceJson_GetAdmin_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAdminResponse" />
  </wsdl:message>
  <wsdl:message name="ITRMWCFWebServiceJson_GetArtist_InputMessage">
    <wsdl:part name="parameters" element="tns:GetArtist" />
  </wsdl:message>
  <wsdl:message name="ITRMWCFWebServiceJson_GetArtist_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetArtistResponse" />
  </wsdl:message>
  <wsdl:message name="ITRMWCFWebServiceJson_GetBusiness_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBusiness" />
  </wsdl:message>
  <wsdl:message name="ITRMWCFWebServiceJson_GetBusiness_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBusinessResponse" />
  </wsdl:message>
  <wsdl:message name="ITRMWCFWebServiceJson_GetCustomer_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCustomer" />
  </wsdl:message>
  <wsdl:message name="ITRMWCFWebServiceJson_GetCustomer_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCustomerResponse" />
  </wsdl:message>
  <wsdl:message name="ITRMWCFWebServiceJson_DeleteUser_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteUser" />
  </wsdl:message>
  <wsdl:message name="ITRMWCFWebServiceJson_DeleteUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteUserResponse" />
  </wsdl:message>
  <wsdl:portType name="ITRMWCFWebServiceJson">
    <wsdl:operation name="SaveUserAccount">
      <wsdl:input wsaw:Action="http://tempuri.org/ITRMWCFWebServiceJson/SaveUserAccount" message="tns:ITRMWCFWebServiceJson_SaveUserAccount_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITRMWCFWebServiceJson/SaveUserAccountResponse" message="tns:ITRMWCFWebServiceJson_SaveUserAccount_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUserAccount">
      <wsdl:input wsaw:Action="http://tempuri.org/ITRMWCFWebServiceJson/GetUserAccount" message="tns:ITRMWCFWebServiceJson_GetUserAccount_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITRMWCFWebServiceJson/GetUserAccountResponse" message="tns:ITRMWCFWebServiceJson_GetUserAccount_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteAccount">
      <wsdl:input wsaw:Action="http://tempuri.org/ITRMWCFWebServiceJson/DeleteAccount" message="tns:ITRMWCFWebServiceJson_DeleteAccount_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITRMWCFWebServiceJson/DeleteAccountResponse" message="tns:ITRMWCFWebServiceJson_DeleteAccount_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllArtists">
      <wsdl:input wsaw:Action="http://tempuri.org/ITRMWCFWebServiceJson/GetAllArtists" message="tns:ITRMWCFWebServiceJson_GetAllArtists_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITRMWCFWebServiceJson/GetAllArtistsResponse" message="tns:ITRMWCFWebServiceJson_GetAllArtists_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveArtistAlbum">
      <wsdl:input wsaw:Action="http://tempuri.org/ITRMWCFWebServiceJson/SaveArtistAlbum" message="tns:ITRMWCFWebServiceJson_SaveArtistAlbum_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITRMWCFWebServiceJson/SaveArtistAlbumResponse" message="tns:ITRMWCFWebServiceJson_SaveArtistAlbum_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetArtistAlbums">
      <wsdl:input wsaw:Action="http://tempuri.org/ITRMWCFWebServiceJson/GetArtistAlbums" message="tns:ITRMWCFWebServiceJson_GetArtistAlbums_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITRMWCFWebServiceJson/GetArtistAlbumsResponse" message="tns:ITRMWCFWebServiceJson_GetArtistAlbums_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetArtistAlbumDetails">
      <wsdl:input wsaw:Action="http://tempuri.org/ITRMWCFWebServiceJson/GetArtistAlbumDetails" message="tns:ITRMWCFWebServiceJson_GetArtistAlbumDetails_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITRMWCFWebServiceJson/GetArtistAlbumDetailsResponse" message="tns:ITRMWCFWebServiceJson_GetArtistAlbumDetails_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteArtistAlbum">
      <wsdl:input wsaw:Action="http://tempuri.org/ITRMWCFWebServiceJson/DeleteArtistAlbum" message="tns:ITRMWCFWebServiceJson_DeleteArtistAlbum_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITRMWCFWebServiceJson/DeleteArtistAlbumResponse" message="tns:ITRMWCFWebServiceJson_DeleteArtistAlbum_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateAlbumGenreCollection">
      <wsdl:input wsaw:Action="http://tempuri.org/ITRMWCFWebServiceJson/UpdateAlbumGenreCollection" message="tns:ITRMWCFWebServiceJson_UpdateAlbumGenreCollection_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITRMWCFWebServiceJson/UpdateAlbumGenreCollectionResponse" message="tns:ITRMWCFWebServiceJson_UpdateAlbumGenreCollection_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UploadSong">
      <wsdl:input wsaw:Action="http://tempuri.org/ITRMWCFWebServiceJson/UploadSong" message="tns:ITRMWCFWebServiceJson_UploadSong_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITRMWCFWebServiceJson/UploadSongResponse" message="tns:ITRMWCFWebServiceJson_UploadSong_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DownloadSongOnServer">
      <wsdl:input wsaw:Action="http://tempuri.org/ITRMWCFWebServiceJson/DownloadSongOnServer" message="tns:ITRMWCFWebServiceJson_DownloadSongOnServer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITRMWCFWebServiceJson/DownloadSongOnServerResponse" message="tns:ITRMWCFWebServiceJson_DownloadSongOnServer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DownloadFile">
      <wsdl:input wsaw:Action="http://tempuri.org/ITRMWCFWebServiceJson/DownloadFile" message="tns:ITRMWCFWebServiceJson_DownloadFile_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITRMWCFWebServiceJson/DownloadFileResponse" message="tns:ITRMWCFWebServiceJson_DownloadFile_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllSongs">
      <wsdl:input wsaw:Action="http://tempuri.org/ITRMWCFWebServiceJson/GetAllSongs" message="tns:ITRMWCFWebServiceJson_GetAllSongs_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITRMWCFWebServiceJson/GetAllSongsResponse" message="tns:ITRMWCFWebServiceJson_GetAllSongs_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAlbumSongs">
      <wsdl:input wsaw:Action="http://tempuri.org/ITRMWCFWebServiceJson/GetAlbumSongs" message="tns:ITRMWCFWebServiceJson_GetAlbumSongs_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITRMWCFWebServiceJson/GetAlbumSongsResponse" message="tns:ITRMWCFWebServiceJson_GetAlbumSongs_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetArtistSongs">
      <wsdl:input wsaw:Action="http://tempuri.org/ITRMWCFWebServiceJson/GetArtistSongs" message="tns:ITRMWCFWebServiceJson_GetArtistSongs_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITRMWCFWebServiceJson/GetArtistSongsResponse" message="tns:ITRMWCFWebServiceJson_GetArtistSongs_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetArtistSongDetails">
      <wsdl:input wsaw:Action="http://tempuri.org/ITRMWCFWebServiceJson/GetArtistSongDetails" message="tns:ITRMWCFWebServiceJson_GetArtistSongDetails_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITRMWCFWebServiceJson/GetArtistSongDetailsResponse" message="tns:ITRMWCFWebServiceJson_GetArtistSongDetails_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSongMediaAssets">
      <wsdl:input wsaw:Action="http://tempuri.org/ITRMWCFWebServiceJson/GetSongMediaAssets" message="tns:ITRMWCFWebServiceJson_GetSongMediaAssets_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITRMWCFWebServiceJson/GetSongMediaAssetsResponse" message="tns:ITRMWCFWebServiceJson_GetSongMediaAssets_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSongMediaAssetsForDownload">
      <wsdl:input wsaw:Action="http://tempuri.org/ITRMWCFWebServiceJson/GetSongMediaAssetsForDownload" message="tns:ITRMWCFWebServiceJson_GetSongMediaAssetsForDownload_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITRMWCFWebServiceJson/GetSongMediaAssetsForDownloadResponse" message="tns:ITRMWCFWebServiceJson_GetSongMediaAssetsForDownload_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteSong">
      <wsdl:input wsaw:Action="http://tempuri.org/ITRMWCFWebServiceJson/DeleteSong" message="tns:ITRMWCFWebServiceJson_DeleteSong_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITRMWCFWebServiceJson/DeleteSongResponse" message="tns:ITRMWCFWebServiceJson_DeleteSong_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteAlbumSong">
      <wsdl:input wsaw:Action="http://tempuri.org/ITRMWCFWebServiceJson/DeleteAlbumSong" message="tns:ITRMWCFWebServiceJson_DeleteAlbumSong_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITRMWCFWebServiceJson/DeleteAlbumSongResponse" message="tns:ITRMWCFWebServiceJson_DeleteAlbumSong_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllBusinesses">
      <wsdl:input wsaw:Action="http://tempuri.org/ITRMWCFWebServiceJson/GetAllBusinesses" message="tns:ITRMWCFWebServiceJson_GetAllBusinesses_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITRMWCFWebServiceJson/GetAllBusinessesResponse" message="tns:ITRMWCFWebServiceJson_GetAllBusinesses_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SavePlaylist">
      <wsdl:input wsaw:Action="http://tempuri.org/ITRMWCFWebServiceJson/SavePlaylist" message="tns:ITRMWCFWebServiceJson_SavePlaylist_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITRMWCFWebServiceJson/SavePlaylistResponse" message="tns:ITRMWCFWebServiceJson_SavePlaylist_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeletePlaylist">
      <wsdl:input wsaw:Action="http://tempuri.org/ITRMWCFWebServiceJson/DeletePlaylist" message="tns:ITRMWCFWebServiceJson_DeletePlaylist_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITRMWCFWebServiceJson/DeletePlaylistResponse" message="tns:ITRMWCFWebServiceJson_DeletePlaylist_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeletePlaylistSong">
      <wsdl:input wsaw:Action="http://tempuri.org/ITRMWCFWebServiceJson/DeletePlaylistSong" message="tns:ITRMWCFWebServiceJson_DeletePlaylistSong_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITRMWCFWebServiceJson/DeletePlaylistSongResponse" message="tns:ITRMWCFWebServiceJson_DeletePlaylistSong_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllBusinessTypes">
      <wsdl:input wsaw:Action="http://tempuri.org/ITRMWCFWebServiceJson/GetAllBusinessTypes" message="tns:ITRMWCFWebServiceJson_GetAllBusinessTypes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITRMWCFWebServiceJson/GetAllBusinessTypesResponse" message="tns:ITRMWCFWebServiceJson_GetAllBusinessTypes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllGenres">
      <wsdl:input wsaw:Action="http://tempuri.org/ITRMWCFWebServiceJson/GetAllGenres" message="tns:ITRMWCFWebServiceJson_GetAllGenres_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITRMWCFWebServiceJson/GetAllGenresResponse" message="tns:ITRMWCFWebServiceJson_GetAllGenres_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetGenre">
      <wsdl:input wsaw:Action="http://tempuri.org/ITRMWCFWebServiceJson/GetGenre" message="tns:ITRMWCFWebServiceJson_GetGenre_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITRMWCFWebServiceJson/GetGenreResponse" message="tns:ITRMWCFWebServiceJson_GetGenre_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RegisterAdmin">
      <wsdl:input wsaw:Action="http://tempuri.org/ITRMWCFWebServiceJson/RegisterAdmin" message="tns:ITRMWCFWebServiceJson_RegisterAdmin_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITRMWCFWebServiceJson/RegisterAdminResponse" message="tns:ITRMWCFWebServiceJson_RegisterAdmin_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RegisterArtist">
      <wsdl:input wsaw:Action="http://tempuri.org/ITRMWCFWebServiceJson/RegisterArtist" message="tns:ITRMWCFWebServiceJson_RegisterArtist_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITRMWCFWebServiceJson/RegisterArtistResponse" message="tns:ITRMWCFWebServiceJson_RegisterArtist_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RegisterBusiness">
      <wsdl:input wsaw:Action="http://tempuri.org/ITRMWCFWebServiceJson/RegisterBusiness" message="tns:ITRMWCFWebServiceJson_RegisterBusiness_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITRMWCFWebServiceJson/RegisterBusinessResponse" message="tns:ITRMWCFWebServiceJson_RegisterBusiness_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RegisterCustomer">
      <wsdl:input wsaw:Action="http://tempuri.org/ITRMWCFWebServiceJson/RegisterCustomer" message="tns:ITRMWCFWebServiceJson_RegisterCustomer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITRMWCFWebServiceJson/RegisterCustomerResponse" message="tns:ITRMWCFWebServiceJson_RegisterCustomer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateBusinessUser">
      <wsdl:input wsaw:Action="http://tempuri.org/ITRMWCFWebServiceJson/UpdateBusinessUser" message="tns:ITRMWCFWebServiceJson_UpdateBusinessUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITRMWCFWebServiceJson/UpdateBusinessUserResponse" message="tns:ITRMWCFWebServiceJson_UpdateBusinessUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateArtistGenreCollection">
      <wsdl:input wsaw:Action="http://tempuri.org/ITRMWCFWebServiceJson/UpdateArtistGenreCollection" message="tns:ITRMWCFWebServiceJson_UpdateArtistGenreCollection_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITRMWCFWebServiceJson/UpdateArtistGenreCollectionResponse" message="tns:ITRMWCFWebServiceJson_UpdateArtistGenreCollection_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUserByUserId">
      <wsdl:input wsaw:Action="http://tempuri.org/ITRMWCFWebServiceJson/GetUserByUserId" message="tns:ITRMWCFWebServiceJson_GetUserByUserId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITRMWCFWebServiceJson/GetUserByUserIdResponse" message="tns:ITRMWCFWebServiceJson_GetUserByUserId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAdmin">
      <wsdl:input wsaw:Action="http://tempuri.org/ITRMWCFWebServiceJson/GetAdmin" message="tns:ITRMWCFWebServiceJson_GetAdmin_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITRMWCFWebServiceJson/GetAdminResponse" message="tns:ITRMWCFWebServiceJson_GetAdmin_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetArtist">
      <wsdl:input wsaw:Action="http://tempuri.org/ITRMWCFWebServiceJson/GetArtist" message="tns:ITRMWCFWebServiceJson_GetArtist_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITRMWCFWebServiceJson/GetArtistResponse" message="tns:ITRMWCFWebServiceJson_GetArtist_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetBusiness">
      <wsdl:input wsaw:Action="http://tempuri.org/ITRMWCFWebServiceJson/GetBusiness" message="tns:ITRMWCFWebServiceJson_GetBusiness_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITRMWCFWebServiceJson/GetBusinessResponse" message="tns:ITRMWCFWebServiceJson_GetBusiness_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCustomer">
      <wsdl:input wsaw:Action="http://tempuri.org/ITRMWCFWebServiceJson/GetCustomer" message="tns:ITRMWCFWebServiceJson_GetCustomer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITRMWCFWebServiceJson/GetCustomerResponse" message="tns:ITRMWCFWebServiceJson_GetCustomer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteUser">
      <wsdl:input wsaw:Action="http://tempuri.org/ITRMWCFWebServiceJson/DeleteUser" message="tns:ITRMWCFWebServiceJson_DeleteUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITRMWCFWebServiceJson/DeleteUserResponse" message="tns:ITRMWCFWebServiceJson_DeleteUser_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:service name="TRMWCFWebServiceJson" />
</wsdl:definitions>