TRMAudiostem/Service References/TRMWebServiceJson/TRMWCFWebServiceJson2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DomainModel.Entities" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DomainModel.Entities" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://wcf.totalresolutionmusic.com/TRMWCFWebServiceJson.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="User">
    <xs:sequence>
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserId" type="xs:int" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserType" type="tns:User.UserTypeList" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="User" nillable="true" type="tns:User" />
  <xs:simpleType name="User.UserTypeList">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Admin">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Artist">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Business">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">3</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Customer">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">4</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="User.UserTypeList" nillable="true" type="tns:User.UserTypeList" />
  <xs:simpleType name="Account.AccountTypeList">
    <xs:restriction base="xs:string">
      <xs:enumeration value="admin">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="customer">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="artist">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">3</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="business">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">4</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="Account.AccountTypeList" nillable="true" type="tns:Account.AccountTypeList" />
  <xs:complexType name="Account">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccountId" type="xs:int" />
      <xs:element minOccurs="0" name="AccountType" type="tns:Account.AccountTypeList" />
      <xs:element minOccurs="0" name="AccountTypeId" type="xs:int" />
      <xs:element minOccurs="0" name="Active" type="xs:boolean" />
      <xs:element minOccurs="0" name="CreatedDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Credits" type="xs:int" />
      <xs:element minOccurs="0" name="PaymentCollection" nillable="true" type="tns:ArrayOfPayment" />
      <xs:element minOccurs="0" name="PurchasedSongCollection" nillable="true" type="tns:ArrayOfPurchasedSong" />
      <xs:element minOccurs="0" name="User" nillable="true" type="tns:User" />
      <xs:element minOccurs="0" name="UserId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Account" nillable="true" type="tns:Account" />
  <xs:complexType name="ArrayOfPayment">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Payment" nillable="true" type="tns:Payment" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPayment" nillable="true" type="tns:ArrayOfPayment" />
  <xs:complexType name="Payment">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccountId" type="xs:int" />
      <xs:element minOccurs="0" name="PaymentDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="PaymentId" type="xs:int" />
      <xs:element minOccurs="0" name="PaymentStatus" type="tns:Payment.PaymentStatusList" />
      <xs:element minOccurs="0" name="PaymentStatusId" type="xs:int" />
      <xs:element minOccurs="0" name="PaymentTotal" type="xs:double" />
      <xs:element minOccurs="0" name="PaymentType" type="tns:Payment.PaymentTypeList" />
      <xs:element minOccurs="0" name="PaymentTypeId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Payment" nillable="true" type="tns:Payment" />
  <xs:simpleType name="Payment.PaymentStatusList">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Processing">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Cancelled">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Approved">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">3</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Rejected">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">4</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="Payment.PaymentStatusList" nillable="true" type="tns:Payment.PaymentStatusList" />
  <xs:simpleType name="Payment.PaymentTypeList">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Paypal">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="Payment.PaymentTypeList" nillable="true" type="tns:Payment.PaymentTypeList" />
  <xs:complexType name="ArrayOfPurchasedSong">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PurchasedSong" nillable="true" type="tns:PurchasedSong" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPurchasedSong" nillable="true" type="tns:ArrayOfPurchasedSong" />
  <xs:complexType name="PurchasedSong">
    <xs:sequence>
      <xs:element minOccurs="0" name="Business" nillable="true" type="tns:Business" />
      <xs:element minOccurs="0" name="BusinessId" type="xs:int" />
      <xs:element minOccurs="0" name="Cost" type="xs:double" />
      <xs:element minOccurs="0" name="CustmomerAccountId" type="xs:int" />
      <xs:element minOccurs="0" name="CustomerAccount" nillable="true" type="tns:Account" />
      <xs:element minOccurs="0" name="DatePurchased" type="xs:dateTime" />
      <xs:element minOccurs="0" name="PlaylistSongId" type="xs:int" />
      <xs:element minOccurs="0" name="PurchasedSongId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PurchasedSong" nillable="true" type="tns:PurchasedSong" />
  <xs:complexType name="Business">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:User">
        <xs:sequence>
          <xs:element minOccurs="0" name="BusinessType" nillable="true" type="tns:BusinessType" />
          <xs:element minOccurs="0" name="BusinessUser" nillable="true" type="tns:BusinessUser" />
          <xs:element minOccurs="0" name="PlaylistCollection" nillable="true" type="tns:ArrayOfPlaylist" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Business" nillable="true" type="tns:Business" />
  <xs:complexType name="BusinessType">
    <xs:sequence>
      <xs:element minOccurs="0" name="BusinessTypeId" type="xs:int" />
      <xs:element minOccurs="0" name="BusinessTypeName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BusinessType" nillable="true" type="tns:BusinessType" />
  <xs:complexType name="BusinessUser">
    <xs:sequence>
      <xs:element minOccurs="0" name="BusinessTypeId" type="xs:int" />
      <xs:element minOccurs="0" name="BusinessUserId" type="xs:int" />
      <xs:element minOccurs="0" name="CreatedDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Latitude" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Longitude" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BusinessUser" nillable="true" type="tns:BusinessUser" />
  <xs:complexType name="ArrayOfPlaylist">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Playlist" nillable="true" type="tns:Playlist" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPlaylist" nillable="true" type="tns:ArrayOfPlaylist" />
  <xs:complexType name="Playlist">
    <xs:sequence>
      <xs:element minOccurs="0" name="Active" type="xs:boolean" />
      <xs:element minOccurs="0" name="CreatedDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="PlaylistId" type="xs:int" />
      <xs:element minOccurs="0" name="PlaylistName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PlaylistSongCollection" nillable="true" type="tns:ArrayOfPlaylistSong" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Playlist" nillable="true" type="tns:Playlist" />
  <xs:complexType name="ArrayOfPlaylistSong">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PlaylistSong" nillable="true" type="tns:PlaylistSong" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPlaylistSong" nillable="true" type="tns:ArrayOfPlaylistSong" />
  <xs:complexType name="PlaylistSong">
    <xs:sequence>
      <xs:element minOccurs="0" name="DateAdded" type="xs:dateTime" />
      <xs:element minOccurs="0" name="PlaylistId" type="xs:int" />
      <xs:element minOccurs="0" name="PlaylistSongId" type="xs:int" />
      <xs:element minOccurs="0" name="Position" type="xs:int" />
      <xs:element minOccurs="0" name="SongId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PlaylistSong" nillable="true" type="tns:PlaylistSong" />
  <xs:complexType name="ArrayOfArtist">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Artist" nillable="true" type="tns:Artist" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfArtist" nillable="true" type="tns:ArrayOfArtist" />
  <xs:complexType name="Artist">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:User">
        <xs:sequence>
          <xs:element minOccurs="0" name="AlbumCollection" nillable="true" type="tns:ArrayOfAlbum" />
          <xs:element minOccurs="0" name="ArtistId" type="xs:int" />
          <xs:element minOccurs="0" name="ArtistName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Facebook" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="GenreCollection" nillable="true" type="tns:ArrayOfGenre" />
          <xs:element minOccurs="0" name="MySpace" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ProfileImage" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SongCollection" nillable="true" type="tns:ArrayOfSong" />
          <xs:element minOccurs="0" name="SoundCloud" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TermsAndConditionsAccepted" type="xs:boolean" />
          <xs:element minOccurs="0" name="Twitter" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="UserId" type="xs:int" />
          <xs:element minOccurs="0" name="Website" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Artist" nillable="true" type="tns:Artist" />
  <xs:complexType name="ArrayOfAlbum">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Album" nillable="true" type="tns:Album" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAlbum" nillable="true" type="tns:ArrayOfAlbum" />
  <xs:complexType name="Album">
    <xs:sequence>
      <xs:element minOccurs="0" name="AlbumCover" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AlbumId" type="xs:int" />
      <xs:element minOccurs="0" name="AlbumLabel" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AlbumProducer" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AlbumReleaseDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="AlbumTitle" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreatedDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="GenreCollection" nillable="true" type="tns:ArrayOfGenre" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Album" nillable="true" type="tns:Album" />
  <xs:complexType name="ArrayOfGenre">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Genre" nillable="true" type="tns:Genre" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGenre" nillable="true" type="tns:ArrayOfGenre" />
  <xs:complexType name="Genre">
    <xs:sequence>
      <xs:element minOccurs="0" name="GenreId" type="xs:int" />
      <xs:element minOccurs="0" name="GenreName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Selected" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Genre" nillable="true" type="tns:Genre" />
  <xs:complexType name="ArrayOfSong">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Song" nillable="true" type="tns:Song" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSong" nillable="true" type="tns:ArrayOfSong" />
  <xs:complexType name="Song">
    <xs:sequence>
      <xs:element minOccurs="0" name="AlbumCollection" nillable="true" type="tns:ArrayOfAlbum" />
      <xs:element minOccurs="0" name="CreatedDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="GenreCollection" nillable="true" type="tns:ArrayOfGenre" />
      <xs:element minOccurs="0" name="SongComposer" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SongId" type="xs:int" />
      <xs:element minOccurs="0" name="SongReleaseDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="SongTitle" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Song" nillable="true" type="tns:Song" />
  <xs:complexType name="ArrayOfMediaAsset">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MediaAsset" nillable="true" type="tns:MediaAsset" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMediaAsset" nillable="true" type="tns:ArrayOfMediaAsset" />
  <xs:complexType name="MediaAsset">
    <xs:sequence>
      <xs:element minOccurs="0" name="CreatedDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="MediaAssetDuration" type="xs:int" />
      <xs:element minOccurs="0" name="MediaAssetFileName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MediaAssetFileSize" type="xs:int" />
      <xs:element minOccurs="0" name="MediaAssetFormat" nillable="true" type="tns:MediaAssetFormat" />
      <xs:element minOccurs="0" name="MediaAssetFormatId" type="xs:int" />
      <xs:element minOccurs="0" name="MediaAssetId" type="xs:int" />
      <xs:element minOccurs="0" name="MediaAssetLocation" nillable="true" type="tns:MediaAssetLocation" />
      <xs:element minOccurs="0" name="MediaAssetType" nillable="true" type="tns:MediaAssetType" />
      <xs:element minOccurs="0" name="MediaAssetTypeId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MediaAsset" nillable="true" type="tns:MediaAsset" />
  <xs:complexType name="MediaAssetFormat">
    <xs:sequence>
      <xs:element minOccurs="0" name="MediaAssetFormatId" type="xs:int" />
      <xs:element minOccurs="0" name="MediaAssetFormatName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MediaAssetFormat" nillable="true" type="tns:MediaAssetFormat" />
  <xs:complexType name="MediaAssetLocation">
    <xs:sequence>
      <xs:element minOccurs="0" name="MediaAssetId" type="xs:int" />
      <xs:element minOccurs="0" name="MediaAssetLocationId" type="xs:int" />
      <xs:element minOccurs="0" name="Path" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Protocol" nillable="true" type="tns:Protocol" />
      <xs:element minOccurs="0" name="ProtocolId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MediaAssetLocation" nillable="true" type="tns:MediaAssetLocation" />
  <xs:complexType name="Protocol">
    <xs:sequence>
      <xs:element minOccurs="0" name="ProtocolId" type="xs:int" />
      <xs:element minOccurs="0" name="ProtocolName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Protocol" nillable="true" type="tns:Protocol" />
  <xs:complexType name="MediaAssetType">
    <xs:sequence>
      <xs:element minOccurs="0" name="MediaAssetTypeId" type="xs:int" />
      <xs:element minOccurs="0" name="MediaAssetTypeName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MediaAssetType" nillable="true" type="tns:MediaAssetType" />
  <xs:complexType name="ArrayOfBusiness">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Business" nillable="true" type="tns:Business" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBusiness" nillable="true" type="tns:ArrayOfBusiness" />
  <xs:complexType name="ArrayOfBusinessType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BusinessType" nillable="true" type="tns:BusinessType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBusinessType" nillable="true" type="tns:ArrayOfBusinessType" />
  <xs:complexType name="Admin">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:User">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Admin" nillable="true" type="tns:Admin" />
  <xs:complexType name="Customer">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:User">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Customer" nillable="true" type="tns:Customer" />
</xs:schema>